<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement">
    <processors>
      <saveUI>
        <processor type="Sitecore.Support.Pipelines.Save.CheckLinks, Sitecore.Support.234538" patch:instead="*[@type='Sitecore.Pipelines.Save.CheckLinks, Sitecore.Kernel']" mode="on"/>
      </saveUI>
    </processors>
  </sitecore>
</configuration>